.movieCard {
    border: 3px solid blue ;
    border-radius: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .filterBox {
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .appForm {
    display: block;
    justify-content: center;
  }
  
  .cardMovie {
    height: 450px;
    width: 250px;
    border-radius: 8px;
  }
  .movies-img {
    width: 100%;
    height: 400px;
  }
  
  .navbar-log {
    width: 45px;
    height: 40px;
    margin-left: 20px;
  }
  
  .movie-list {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
  
  .poster {
    width: 250px;
    height: 350;
  }